* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --dark-color: #000;
  --light-color: #f5f5f5;
  --hover-color: #00c5d3;
  --border-color: #b22222;
}
html {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
  font-size: 1.2rem;
}
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: var(--light-color);
}
header {
  width: 100%;
  background-color: #7fffd4;
  padding: 1rem;
  box-shadow: 2px 2px 5px #123456;
  position: sticky;
  top: 0px;
}
a {
  display: block;
  width: 100%;
  text-align: center;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--dark-color);
}
a:hover,
a:focus {
  color: #123496;
  font-size: 1.2em;
  transition: all 0.3s;
}
main {
  flex: 1 0 0;
  padding: 2rem;
}
main h1 {
  text-align: center;
  padding: 1rem;
  text-decoration: underline dotted;
  text-shadow: 0px 2px var(--hover-color);
}
.pick-bgcolor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
}
.pick-bgcolor .select-color {
  flex-flow: 1 1 0;
  padding: 2rem;
  height: min(150px, 25vh);
  width: min(150px, 25vh);
  border: 2px solid var(--dark-color);
  border-radius: min(15px, 3vh);
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
}
#black {
  background-color: var(--dark-color);
  color: var(--light-color);
}
#red {
  background-color: #f00;
}
#green {
  background-color: #080;
}
#blue {
  background-color: #00f;
}
#yellow {
  background-color: #ff0;
}
#add-color {
  background-color: #f5f5f5;
}
