* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* margin: 0; */
  /* padding: 20px; */
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}
a:any-link {
  display: block;
  /* width: 100%; */
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--dark-color);
}
a:hover,
a:focus {
  color: var(--light-color);
  font-size: 1.2em;
}
header {
  width: 100%;
  background-color: #7fffd4;
  padding: 0.7rem;
  box-shadow: 2px 2px 5px #123456;
  position: sticky;
  top: 0;
  z-index: 2;
}
.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0062cc;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
