* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --dark-color: #000;
  --light-color: #f5f5f5;
  --dark-hover-color: #123456;
  --header-bgcolor: #0c9790;
}
html {
  font-family: "Times New Roman", Times, serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  font-size: 1.2rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-flow: column wrap;
  position: relative;
  background-color: #a9a9a9;
}
main {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
main h1 {
  text-decoration: underline double var(--dark-hover-color);
  margin: 1rem;
  letter-spacing: 2px;
}
main > section {
  flex: 1 0 0;
  background-color: #696969;
  box-shadow: 0 0 0.7rem var(--light-color);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  place-content: center;
}
header {
  width: 100%;
  background-color: var(--header-bgcolor);
  padding: 1rem;
  box-shadow: 5px 0px 10px var(--dark-hover-color);
  position: sticky;
  top: 0;
  z-index: 2;
}
header:hover {
  background-color: var(--dark-hover-color);
  color: var(--light-color);
}
table th button {
  color: #00ffff;
}
button {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 2px solid var(--dark-color);
  background-color: var(--dark-color);
  color: var(--light-color);
  width: 100%;
}
button:hover {
  border: 2px solid var(--light-color);
}
section > section {
  padding: 2rem;
  background-color: #2a3439;
  border-radius: 1rem;
  margin: 0.3rem;
  color: var(--light-color);
  font-size: 1.2rem;
}
a:any-link {
  display: block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--dark-color);
}
a:hover,
a:focus {
  color: var(--light-color);
  transition: all 1s;
}
