* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}
:root {
  --bg-color: #000;
  --color: #f5f5f5;
  --light-color: #c0c0c0;
  --medium-color: #454545;
  --text-shadow-color: #00f;
}
input,
label,
button {
  font-size: inherit;
}
body {
  min-height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  color: var(--color);
  background-image: radial-gradient(var(--medium-color), var(--bg-color));
}
header {
  position: sticky;
  top: 0px;
  text-align: center;
  text-shadow: 3px 3px var(--text-shadow-color);
  text-transform: uppercase;
  text-decoration: 5px underline;
  border: 2px solid var(--light-color);
  z-index: 2;
  background-color: var(--bg-color);
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 15px 9px var(--medium-color);
}
main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--light-color);
  padding: 2rem;
  background-color: var(--bg-color);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 9px var(--medium-color);
  /* flex: 1 1 120px; */
}
button {
  padding: 0.3rem;
}
/* div {
  flex: 1 1 120px;
} */
.buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
/* .input {
} */
.output {
  display: none;
}
