* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: clamp(1rem, 4vh, 1.2rem);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #faebd7;
}
header {
  width: 100%;
  background-color: #7fffd4;
  padding: 1rem;
  box-shadow: 2px 2px 5px #123456;
  position: sticky;
  top: 0;
  z-index: 2;
}
body a:any-link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
}
a:link,
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover,
a:focus {
  color: #123479;
  padding: 0.3rem;
}
main {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  background-color: #afeeee;
  border: 3px double #000;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 15px #808080;
}
#time {
  border: 2px solid #123456;
  padding: 1rem;
  background-color: #123479;
  color: #f0f8ff;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
}
