* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #000;
  --light-color: #f5f5f5;
  --dark-blue: #123497;
}
html {
  font-size: cramp(20px, 10vh, 30px);
}
header {
  width: 100%;
  background-color: #7fffd4;
  padding: 1rem;
  box-shadow: 2px 2px 5px #123456;
  position: sticky;
  top: 0;
  z-index: 2;
}
a:any-link {
  display: block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--dark-color);
}
a:hover,
a:focus {
  color: var(--dark-blue);
  /* font-size: 1.2em; */
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  background-color: #faebd7;
  background-image: url(background.bmp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  backdrop-filter: blur(3px);
}
main {
  flex: 1 0 0;
  position: relative;
  box-shadow: 0 0 10px #808080;
  margin: clamp(9rem, 25vh, 15rem) auto;
  background-color: rgba(4, 249, 249, 0.725);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 3rem;
  border-radius: 2rem;
}
main h1 {
  text-align: center;
  text-decoration: underline double;
  padding-bottom: 1rem;
}
button,
input {
  background-color: #808080;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: clamp(10px, 8vh, 20px);
  line-height: 1rem;
  margin: 0.5rem;
}
