* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: clamp(1.2rem, 15vh, 1.3rem);
  font-family: "Times New Roman", Times, serif;
}
input,
button {
  background-color: #123456;
  color: #f5f5f5;
  font-size: inherit;
  padding: 0.5rem;
  align-items: center;
  border-radius: 15px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  background-color: #add8e6;
}
header {
  width: 100%;
  background-color: #7fffd4;
  padding: 1rem;
  box-shadow: 2px 2px 5px #123456;
  position: sticky;
  top: 0;
  z-index: 2;
}

body a:any-link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--dark-color);
}
a:hover,
a:focus {
  color: #123479;
  font-size: 1.2em;
}
main {
  flex: 1 0 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 15px;
  border: 5px double #1e90ff;
  background-color: #1e90ff;
  box-shadow: 5px 5px 15px #123479;
  margin: 1rem;
  margin-top: 5rem;
}
main > section {
  flex: 1 0 0;
  position: relative;
  margin: 15px;
}
section > h1 {
  text-align: center;
  text-decoration: underline double #123456;
  margin-bottom: 1rem;
}
section > button {
  margin: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
section > h2 {
  text-align: center;
}
